## Use web scraping to get bank information

In [1]:
#Install Python libraries required for web scraping (Optional if your lab environment don't have)
#!pip install pandas
#!pip install bs4
#!pip install request

## Import

In [2]:
#Import libraries for web scraping
import pandas as pd
from bs4 import BeautifulSoup
import requests

## Extract data using web scraping
Using the wikipedia webpage https://en.wikipedia.org/wiki/List_of_largest_banks and scrape the data from table "By market capitalization", store it in a JSON file

In [5]:
url = " https://en.wikipedia.org/wiki/List_of_largest_banks"
html_data = requests.get(url).text

In [6]:
#html_data[101:124]

In [7]:
soup = BeautifulSoup(html_data, "html5lib")

In [13]:
data = pd.DataFrame(columns=["Name", "Market Cap (US$ Billion)"])

for row in soup.find_all('tbody')[3].find_all('tr'):
    col = row.find_all('td')
    if (col != []):
        name = col[1].text.strip()
        market_cap = col[2].text.strip()
        data = data.append({"Name": name, "Market Cap (US$ Billion)": market_cap}, ignore_index= True)
data.head()

                                      Name Market Cap (US$ Billion)
0                           JPMorgan Chase                  499.400
1                          Bank of America                  362.500
2  Industrial and Commercial Bank of China                  342.700
3                              Wells Fargo                  308.013
4                  China Construction Bank                  257.399

In [15]:
print(data)

                                       Name Market Cap (US$ Billion)
0                            JPMorgan Chase                  499.400
1                           Bank of America                  362.500
2   Industrial and Commercial Bank of China                  342.700
3                               Wells Fargo                  308.013
4                   China Construction Bank                  257.399
..                                      ...                      ...
65                             Ping An Bank                   37.993
66                       Standard Chartered                   37.319
67                     United Overseas Bank                   35.128
68                                QNB Group                   33.560
69                    Bank Rakyat Indonesia                   33.081

[70 rows x 2 columns]